<div class="tools">
    <select id="sortByOption">
        <option value="cid">Sort by</option>
        <option value="votes">Rating</option>
        <option value="created_at">Date</option>
    </select>

    <span class="cell sort">
        <button class="btn btn-default sortAsc">Sort (Asc)</button>
        <button class="btn btn-default sortDsc">Sort (Desc)</button>
    </span>

    <span class="cell sort">
        <input id="filterString" type="text" class="cell" placeholder="Filter search..."/>
        <button class="filter btn small">Filter</button>
    </span>
</div>